*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl, .billboard
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;

    @media all and (max-width: 900px) {
        display: none;
    }
}

.billboard {
    z-index: 1;
    display: none;
}


.mobile {
    display: none;

    @media all and (max-width: 900px) {
        display: block;
        flex-direction: column;
    }

    //@media only screen and (orientation:portrait){
    //    height: 100vw;
    //    -webkit-transform: rotate(90deg);
    //    -moz-transform: rotate(90deg);
    //    -o-transform: rotate(90deg);
    //    -ms-transform: rotate(90deg);
    //    transform: rotate(90deg);
    //}

    .billboard-mobile {
        display: none;
    }
}
